*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(css/background.jpg);
  padding: 50px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "PingFang SC", "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  height: 100vh;
  width: 100%;
}
input, select,
textarea, button {
  outline: none;
}

.centratura {
  margin: 0 25%;
  width: 50%;
}

img{
  width: 90%;
  height: auto;
}
#titolo{
  text-transform: uppercase;
  font-size: 2em;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.form-div{
  background-color: #f1f1f2;
  width: 100%;
  min-height: 300px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 0 20px;
  margin-bottom: 20px;
}
.form-item-1{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.form-div input{
  margin-bottom: 10px;
}
input[type="number"]{
  width: 200px;
  height: 30px;
  font-size: 20px;
  color: #9baab6;
  border-color: red;
  background-color: #fff;
}

input[type="number"]:focus,
input[type="number"]:hover{
  background-color: #f1f1f2;
}
input[name="name"]{
  background-color: #fff;
  border-color: red;
  height: 30px;
  font-size: 20px;
  color: #9baab6;
}
input[name="name"]:hover,
input[name="name"]:focus{
  background-color: #f1f1f2;
}

.buttons{
  width: 20%;
  align-self: flex-end;
  margin-bottom: 15px;
}
.logo{
  width: 40%;
}

#ticket-title{
  text-transform: uppercase;
  font-size: 2em;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.ticket-box{
  width: 100%;
  height: 200px;
  margin-top: 30px;
  background-color: #f1f1f2;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

table{
  width: 100%;
  border: 1px solid black;
}
